name: Deploy ARM Template using ARM Deploy Action
 
on:
  push:
    branches:
      - main
      - feature-deploy-update   
 
jobs:
  deploy:
    runs-on: ubuntu-latest
 
    steps:
     
      - name: Checkout source code
        uses: actions/checkout@v3
 
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
 
      - name: Deploy ARM Template
        uses: azure/arm-deploy@v2
        with:
          resourceGroupName: rg-azure31
          template: ARMTemplates/storageaccount.json
          parameters: |
            storageAccountName=sanikastorageacct123
            storageAccountType=Standard_GRS
          failOnStdErr: false
          